#Basic{
    height: 100vh;
    width: 100vw;
}
#Top{
    background-color: #008A8B;
    height: 6vh;
    z-index: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#BackButton{
    width: 100px;
    height: 45px;
    margin-top: 20px;
    margin-left: 10px;
}
#Arrowcontainer{
    width: 100px;
    height: 45px;
    margin-top: -13px;
    display: flex;
    flex-direction: row;
}
#Arrow{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    border-radius: 16%;
}

#Arrowtail{
    position: absolute;
    background-color: black;
    margin-top: 18px;
    margin-left: 10px;
    width: 30px;
    height: 4px;
    transform: rotate(180deg);
    border-radius: 20%;
}
#back{
    margin-top: 8px;
    margin-left: 20px;
    font-size: larger;
}

#years{
    position: absolute;
    margin-left: 100px;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    font-size: larger;
}
#year1{
    width: 90px;
    margin-left: 100px;
    margin-top: 15px;
}
#year2{
    width: 90px;
    margin-left: 135px;
    margin-top: 15px;
}
#year3{
    width: 90px;
    margin-left: 135px;
    margin-top: 15px;
}
#year4{
    width: 90px;
    margin-left: 140px;
    margin-top: 15px;
}
#year5{
    width: 90px;
    margin-left: 135px;
    margin-top: 15px;
}
#year6{
    width: 90px;
    margin-left: 135px;
    margin-top: 15px;
}
#year7{
    width: 90px;
    margin-left: 140px;
    margin-top: 15px;
}
#year8{
    width: 90px;
    margin-left: 140px;
    margin-top: 15px;
}
.TimeBracket{
    background-color: #00c0c0;
    text-align: center;
    width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 5px;
    margin-top: 3px;
    cursor: pointer;
    appearance: none;
}

input[type="radio"]:checked{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.leaflet-container{
    width: 100%;
    height: 88vh;
    
}

.leaflet-popup-content{
    display: flex;
    flex-direction: column;
    color: green;
}

#placeholder{
    width: 75px;
    height: 75px;
}

#Searchbar{
    width: 510px;
    height: 60px;
    background-color: #E3A138;
    position: absolute;
    z-index: 999;
    left: 4%;
    top: 7%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

#adresinput{
    width: 450px;
    height: 50px;
    margin-top: 6px;
    margin-left: 5px;
    border-radius: 10px;
    font-size: 25px;
    padding-left: 20px;
}
#SearchIcon{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;
}


