#basicDiv{
    width: 100vw;
    height: 100vh;
    background-color: #63bb99;
}

#topDiv{
    width: 100vw;
    height: 45vh;
    background-color: #008A8B;
    opacity: 80%;
    display:flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */

}

#bottomDiv{
    width: 100vw;
    height: 50vh;
    background-color: #D0F4E6;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#textDiv{
    width: 550px;
    height: 400px;
    background-color: #63bb99;
    font-size : 16px;
    font-variant : Arial;
    color : black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    border-radius: 30px;
    padding: 30px;
}

#secondTextDiv{
    width: 600px;
    height: 300px;
    background-color: #63bb99;
    font-size : 16px;
    font-variant : Arial;
    color : black;
    margin-bottom: 3px;
    margin-left: 50px;
    margin-right: 100px;
    border-radius: 30px;
    padding: 30px;
}

/* #secondImageDiv{
    width: 550px;
    height: 300px;
    background-color: #E3A138;
    margin-top: 3px;
    margin-right: 100px;
    border-radius: 30px;
    
} */

#tuinderBorderDiv{
    width: 350px;
    height: 350px;
    background-color: #E3A138;
    top: 50;
    left: 100px;
    z-index: 4;
    border-radius: 30px;
    
}

 #TuinderIcon{
    width: 400px;
    height: 400px;
    z-index: 3;
    margin-top: center;
    margin-right: 100px;
    border-radius: 300px;
 }

 #Background{
    width: 100vw;
    height: 45vh;
    opacity: 50%;
    background-size: 340px;
 }
