
#Menu{
width: 100%;
height: 100%;
}

#menuArea{
width: 100%;
height: 88vh;
overflow: hidden;
}
#menuContent{
background:radial-gradient(circle, rgba(208,244,230,1) 0%, rgba(0,138,139,1) 100%);
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
}

#Top{
background-color: #008A8B;
height: 6vh;
z-index: 900;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.Options{
margin-left: 160px;
margin-right: 150px;
margin-top: 25px;
width: 33%;
height: 800px;
text-align: center;
font-size: 60px;
color:black;
display: flex;
flex-direction: column;
border-radius: 5px;
}

/* Adress zoeken */
#BGadres{
width: 100%;
height: 100%;
background-image: url(${../../../../images/VleutenMaps.jpg);
z-index: 1;
object-fit: fill;
border-radius: 4%;
filter: blur(2px);
box-shadow: 2px 3px 4px 3px rgb(0 0 0 / 0.4);
   
}

#Adres{
position: absolute;
z-index: 3;
color: black;
top: 380px;
margin-left: 160px;
}

/* Tuinders */
#Tuinders{
position: absolute;
z-index: 3;
color: black;
top: 380px;
margin-left: 200px;
}
#BGtuinder{
width: 100%;
height: 100%;
background-image: url(${../../../../images/greenhouse.jpg);
z-index: 1;
object-fit: cover;
border-radius: 4%;
filter: blur(4px);
box-shadow: 2px 3px 4px 3px rgb(0 0 0 / 0.4);
background-position: center;
background-repeat: no-repeat;
background-size: 200%;
}

#Bottom{
position: absolute;
background-color: #008A8B;
height: 6vh;
width: 100%;
bottom: 0;
z-index: 1;
}
