#tuindercontainer{
width: 80%;
height: 80%;
display: flex;
flex-direction: row;
align-items: center;
}

.TuinderBox{
background-color: #D0F4E6;
height: 86vh;
width: 80vw;
margin: 0 auto;
margin-bottom: 15px;
margin-top: 10px;
display: flex;
flex-direction: row;
align-items: center;
position: relative;
justify-content: space-between;
border-style: inset;
border-width: 5px;
border-radius: 5%;
}

.Tuinder{
    background-color: #008A8B;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border-style: inset;
    border-width: 5px;
    border-radius: 10%;
    font-family: 'Calibri',Helvetica,Arial,Lucida,sans-serif;
    color: black;
    font-size: 32px;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

a:active{
    border: dotted 3px;
}

#profielfoto{
    margin-bottom: auto;
    margin-top: auto;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px;
    border-radius: 50%;
    border-style: inset;
}

.Info{
    width: 90%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

#LIJN{
    position: absolute;
    z-index: 2;
    border-style: solid;
    border-width: 20px;
}
