
#Basic{
height: 100vh;
width: 100vw;
overflow: hidden;
background-image: url(../../images/Background.jpg) ;
background-size: cover;
}

#Top{
background-color: #008A8B;
min-height: 6vh;
}
#BackButton{
  width: 100px;
  height: 45px;
  margin-top: 20px;
  margin-left: 10px;
}
#Arrowcontainer{
  width: 100px;
  height: 45px;
  margin-top: -13px;
  display: flex;
  flex-direction: row;
}
#Arrow{
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  border-radius: 16%;
}

#Arrowtail{
  position: absolute;
  background-color: black;
  margin-top: 18px;
  margin-left: 10px;
  width: 30px;
  height: 4px;
  transform: rotate(180deg);
  border-radius: 20%;
}
#back{
  margin-top: 8px;
  margin-left: 20px;
  font-size: larger;
}
#tuinderyears{
  position: absolute;
  margin-left: 100px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  font-size: larger;
}
#tuinderyear1{
  width: 90px;
  margin-left: 100px;
  margin-top: 15px;
}
#tuinderyear2{
  width: 90px;
  margin-left: 135px;
  margin-top: 15px;
}
#tuinderyear3{
  width: 90px;
  margin-left: 135px;
  margin-top: 15px;
}
#tuinderyear4{
  width: 90px;
  margin-left: 140px;
  margin-top: 15px;
}
#tuinderyear5{
  width: 90px;
  margin-left: 135px;
  margin-top: 15px;
}
#tuinderyear6{
  width: 90px;
  margin-left: 135px;
  margin-top: 15px;
}
#tuinderyear7{
  width: 90px;
  margin-left: 140px;
  margin-top: 15px;
}
#tuinderyear8{
  width: 90px;
  margin-left: 140px;
  margin-top: 15px;
}

#Bottom{
background-color: #008A8B;
position: absolute;
height: 6vh;
width: 100%;
bottom: 0;
}

#ArrowButtonL{
  width: 100px;
  height: 100px;
  float: left;
  background: #D0F4E6;
  border: 4px solid #008A8B;
  border-radius: 100px;
  color: #008A8B;
  cursor: pointer;
  margin-top: 380px;
  line-height: 100px;
  margin-left: 40px;
  margin-right: auto;
}
#ArrowButtonR{
  width: 100px;
  height: 100px;
  float: right;
  background: #D0F4E6;
  border: 4px solid #008A8B;
  border-radius: 100px;
  color: #008A8B;
  cursor: pointer;
  margin-top: 380px;
  line-height: 100px;
  margin-left: auto;
  margin-right: 40px;
}

#ArrowL{
border: solid black;
border-width: 0 10px 10px 0;
border-radius: 10%;
display: inline-block;
padding: 20px;
margin-left: 28px;
margin-top: 23px;
width: 25px;
transform: rotate(135deg);
}

#ArrowR{
border: solid black;
border-width: 0 10px 10px 0;
border-radius: 10%;
display: inline-block;
padding: 20px;
margin-left: 10px;
margin-top: 23px;
width: 25px;
transform: rotate(-45deg);
}

#Bottom{
background-color: #008A8B;
position: absolute;
height: 6vh;
width: 100%;
bottom: 0;
}

.radio{
  float: right;
  appearance: none;
}